

.main-header {
    background-color: #A7A9D4;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.main-logo{
    height: 140px;
    width: 350px;
    display: block;
    margin: auto;
}

h1{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content:flex-start;
    margin-left: 2%;
}

.container{
    display: flex;
    row-gap: 100px;
    
}

.card-header{
    display: flex;
    font-size: 100%;
}

